@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'NeuePlak';
  src: url('/font/Neue Plak Black.ttf');
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/font/PlusJakartaSans-Light.ttf');
}

@layer base {
 
  /* body {
    background-color: #FEFAE0;
  } */
}

@layer components {

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .headerbackground {
    background:
      linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)35%, rgba(255, 255, 255, 0.7)50%, rgba(255, 255, 255, 1)100%),
      url("https://d1fv2z2t2pz1fy.cloudfront.net/images/0.png");
    background-size: cover;
  }

  .darkheaderbackground {
    background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)35%, rgba(0, 0, 0, 0.7)50%, rgba(0, 0, 0, 1)100%),
      url("https://d1fv2z2t2pz1fy.cloudfront.net/images/0.png");
    background-size: cover;
  }

  .menu-wrap {
    cursor: pointer;

    .check-menu {
      display: none;
    }
  }

  .menu-bar {
    width: 3rem;
    height: 0.4rem;
    margin-bottom: 3px;
    border: 0.1rem solid #F5F5F5;
    background-color: white;
    border-radius: 5px;
    transition: 0.5s;
  }

  .scroll-text {
    width: 100%;
    overflow: hidden;

  }

  .vibration {
    animation: vibration .1s 2
  }

  @keyframes vibration {
    from {
      transform: rotate(1deg);
    }

    to {
      transform: translateY(3rem) rotate(-1deg);
    }
  }

  .track {
    position: relative;
    width: 3000px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    animation: scroll-animation 20s linear infinite;
  }

  .track p {
    text-align: center;
    width: 200px;
  }

  .mobile_nav_bar {
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 0vh;
    left: 0px;
    top: 70px;
    transition: all 0.3s;
  }

  .act {
    visibility: visible;
    height: 100vh;
  }


  .nft_card {
    display: inline-grid;
    transition: transform 0.3s;
    transform: perspective(800px) rotateY(0deg);
    transform-style: preserve-3d;
  }


  .nft_card>* {
    grid-area: 1 / 1 / 1 / 1;
    backface-visibility: hidden;
  }

  .nft_card_shadow:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
  }

  .nft_card_back {
    transform: rotateY(180deg);
  }

  .nft_card_checked {
    transform: perspective(800px) rotateY(180deg);
  }

  .swiper .swiper-pagination {
    position: static;
    bottom: -10px !important;
  }

  .swiper .swiper-pagination-bullet {
    margin: 0 5px !important;
  }

  .loader {
    width: 100px;
    height: 100px;
    background: linear-gradient(165deg,
        rgba(255, 255, 255, 1) 0%,
        rgb(220, 220, 220) 40%,
        rgb(170, 170, 170) 98%,
        rgb(10, 10, 10) 100%);
    border-radius: 50%;
    position: relative;
  }

  .loader:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-bottom: 0 solid #ffffff05;
    box-shadow: 0 -10px 20px 20px #ffffff40 inset,
      0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset,
      0 -3px 2px #ffffffbb inset, 0 2px 0px #ffffff, 0 2px 3px #ffffff,
      0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
    filter: blur(3px);
    animation: 2s rotate linear infinite;
  }

    .card_loader {
      width: 35px;
      height: 35px;
      border: 5px solid black;
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
    }
  
    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
  
      100% {
        transform: rotate(360deg);
      }
    }

  @keyframes rotate {
    100% {
      transform: rotate(360deg)
    }
  }

}

.loader2 {
  color: #FFF;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}
.loader2::after {
  content: '';  
  width: 3px;
  height: 3px;
  background: currentColor;
  position: absolute;
  bottom: 4px;
  right: -12px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 10px 0 rgba(255, 255, 255, 0), 20px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 10px 0 white, 20px 0 rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 10px 0 white, 20px 0 white;
  }
}


/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: black;
  width: 16px !important;
  height: 2px;
  border-radius: 0px;
  opacity: 1 !important;
}

/* target all bullets */
.swiper-pagination-bullet {
  width: 16px !important;
  height: 2px !important;
  border-radius: 0px !important;
  background-color: black !important;
  opacity: 0.5 !important;
}


